In [50]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
per_capita_load = "co-emissions-per-capita.csv"
yearly_cumulative_load = "cumulative-co-emissions.csv"

# Read the per capita and cumulative data files
per_capita_data = pd.read_csv(per_capita_load, encoding = "ISO_8859_1")
yearly_cumulative_data = pd.read_csv(yearly_cumulative_load, encoding = "ISO_8859_1")

In [66]:
# Cleaning the per capita data file
per_capita_data_clean = per_capita_data.replace(0, np.nan)
per_capita_data_clean1 = per_capita_data_clean.dropna(how='any')
per_capita_data_clean1

            Entity Code  Year  Per capita CO2 emissions (tonnes per capita)
149    Afghanistan  AFG  1949                                       0.001912
150    Afghanistan  AFG  1950                                       0.010871
151    Afghanistan  AFG  1951                                       0.011684
152    Afghanistan  AFG  1952                                       0.011544
153    Afghanistan  AFG  1953                                       0.013218
154    Afghanistan  AFG  1954                                       0.013037
155    Afghanistan  AFG  1955                                       0.018607
156    Afghanistan  AFG  1956                                       0.021812
157    Afghanistan  AFG  1957                                       0.034340
158    Afghanistan  AFG  1958                                       0.037987
159    Afghanistan  AFG  1959                                       0.043531
160    Afghanistan  AFG  1960                                       0.046006
161    Afghanistan  AFG  1961                                       0.053541
162    Afghanistan  AFG  1962                                       0.073679
163    Afghanistan  AFG  1963                                       0.074128
164    Afghanistan  AFG  1964                                       0.086170
165    Afghanistan  AFG  1965                                       0.101316
166    Afghanistan  AFG  1966                                       0.107479
167    Afghanistan  AFG  1967                                       0.123581
168    Afghanistan  AFG  1968                                       0.115367
169    Afghanistan  AFG  1969                                       0.086714
170    Afghanistan  AFG  1970                                       0.150133
171    Afghanistan  AFG  1971                                       0.165875
172    Afghanistan  AFG  1972                                       0.130624
173    Afghanistan  AFG  1973                                       0.136121
174    Afghanistan  AFG  1974                                       0.155474
175    Afghanistan  AFG  1975                                       0.168743
176    Afghanistan  AFG  1976                                       0.154531
177    Afghanistan  AFG  1977                                       0.182647
178    Afghanistan  AFG  1978                                       0.162824
...            ...  ...   ...                                            ...
42814     Zimbabwe  ZWE  1988                                       1.668988
42815     Zimbabwe  ZWE  1989                                       1.627224
42816     Zimbabwe  ZWE  1990                                       1.528933
42817     Zimbabwe  ZWE  1991                                       1.519226
42818     Zimbabwe  ZWE  1992                                       1.583603
42819     Zimbabwe  ZWE  1993                                       1.490873
42820     Zimbabwe  ZWE  1994                                       1.590766
42821     Zimbabwe  ZWE  1995                                       1.327647
42822     Zimbabwe  ZWE  1996                                       1.292778
42823     Zimbabwe  ZWE  1997                                       1.220684
42824     Zimbabwe  ZWE  1998                                       1.188877
42825     Zimbabwe  ZWE  1999                                       1.303635
42826     Zimbabwe  ZWE  2000                                       1.130576
42827     Zimbabwe  ZWE  2001                                       1.011566
42828     Zimbabwe  ZWE  2002                                       0.951721
42829     Zimbabwe  ZWE  2003                                       0.839673
42830     Zimbabwe  ZWE  2004                                       0.737902
42831     Zimbabwe  ZWE  2005                                       0.826864
42832     Zimbabwe  ZWE  2006                                       0.789748
42833     Zimbabwe  ZWE  2007                                       0.737741
42834     Zimbabwe  ZWE  2008                                       0.569303
42835     Zimbabwe  ZWE  2009                                       0.399657
42836     Zimbabwe  ZWE  2010                                       0.545282
42837     Zimbabwe  ZWE  2011                                       0.656154
42838     Zimbabwe  ZWE  2012                                       0.517619
42839     Zimbabwe  ZWE  2013                                       0.766298
42840     Zimbabwe  ZWE  2014                                       0.769958
42841     Zimbabwe  ZWE  2015                                       0.691341
42842     Zimbabwe  ZWE  2016                                       0.615011
42843     Zimbabwe  ZWE  2017                                       0.629025

[16436 rows x 4 columns]

In [67]:
yearly_cumulative_data_clean = yearly_cumulative_data.replace(0, np.nan)
yearly_cumulative_data_clean1 = yearly_cumulative_data_clean.dropna(how='any')
yearly_cumulative_data_clean1

            Entity Code  Year  Cumulative CO2 emissions by nation (tonnes)
198    Afghanistan  AFG  1949                                       14656.0
199    Afghanistan  AFG  1950                                       98928.0
200    Afghanistan  AFG  1951                                      190528.0
201    Afghanistan  AFG  1952                                      282128.0
202    Afghanistan  AFG  1953                                      388384.0
203    Afghanistan  AFG  1954                                      494640.0
204    Afghanistan  AFG  1955                                      648528.0
205    Afghanistan  AFG  1956                                      831728.0
206    Afghanistan  AFG  1957                                     1124848.0
207    Afghanistan  AFG  1958                                     1454608.0
208    Afghanistan  AFG  1959                                     1839179.0
209    Afghanistan  AFG  1960                                     2253063.0
210    Afghanistan  AFG  1961                                     2743861.0
211    Afghanistan  AFG  1962                                     3432455.0
212    Afghanistan  AFG  1963                                     4139191.0
213    Afghanistan  AFG  1964                                     4977742.0
214    Afghanistan  AFG  1965                                     5984658.0
215    Afghanistan  AFG  1966                                     7075817.0
216    Afghanistan  AFG  1967                                     8357682.0
217    Afghanistan  AFG  1968                                     9581072.0
218    Afghanistan  AFG  1969                                    10522304.0
219    Afghanistan  AFG  1970                                    12192701.0
220    Afghanistan  AFG  1971                                    14086633.0
221    Afghanistan  AFG  1972                                    15617799.0
222    Afghanistan  AFG  1973                                    17255042.0
223    Afghanistan  AFG  1974                                    19170720.0
224    Afghanistan  AFG  1975                                    21295245.0
225    Afghanistan  AFG  1976                                    23279471.0
226    Afghanistan  AFG  1977                                    25666216.0
227    Afghanistan  AFG  1978                                    27821636.0
...            ...  ...   ...                                           ...
61647     Zimbabwe  ZWE  1988                                   347722794.0
61648     Zimbabwe  ZWE  1989                                   363836448.0
61649     Zimbabwe  ZWE  1990                                   379405743.0
61650     Zimbabwe  ZWE  1991                                   395271089.0
61651     Zimbabwe  ZWE  1992                                   412188507.0
61652     Zimbabwe  ZWE  1993                                   428447609.0
61653     Zimbabwe  ZWE  1994                                   446132072.0
61654     Zimbabwe  ZWE  1995                                   461161498.0
61655     Zimbabwe  ZWE  1996                                   476052059.0
61656     Zimbabwe  ZWE  1997                                   490346270.0
61657     Zimbabwe  ZWE  1998                                   504485906.0
61658     Zimbabwe  ZWE  1999                                   520213654.0
61659     Zimbabwe  ZWE  2000                                   534031835.0
61660     Zimbabwe  ZWE  2001                                   546541031.0
61661     Zimbabwe  ZWE  2002                                   558438037.0
61662     Zimbabwe  ZWE  2003                                   569046377.0
61663     Zimbabwe  ZWE  2004                                   578474925.0
61664     Zimbabwe  ZWE  2005                                   589174567.0
61665     Zimbabwe  ZWE  2006                                   599539437.0
61666     Zimbabwe  ZWE  2007                                   609373451.0
61667     Zimbabwe  ZWE  2008                                   617092326.0
61668     Zimbabwe  ZWE  2009                                   622611834.0
61669     Zimbabwe  ZWE  2010                                   630292845.0
61670     Zimbabwe  ZWE  2011                                   639732696.0
61671     Zimbabwe  ZWE  2012                                   647347296.0
61672     Zimbabwe  ZWE  2013                                   658883535.0
61673     Zimbabwe  ZWE  2014                                   670749884.0
61674     Zimbabwe  ZWE  2015                                   681657488.0
61675     Zimbabwe  ZWE  2016                                   691590138.0
61676     Zimbabwe  ZWE  2017                                   701987856.0

[18725 rows x 4 columns]

In [ ]:
for i, eachrow in enumerate yearly_cumulative_data_clean1







#     total_month = 0
#     total_sum = 0
#     #list the revenue, dates, and list for revenue storage
#     revenue = []
#     date = []
#     rev_change = []
#     #loop through the rows for the sum and month
#     for i, eachrow in enumerate(filehandle):
#         total_month += 1
#         total_sum += int(eachrow[1])
#         revenue.append(eachrow[1])
#         date.append(eachrow[0])
#         if i>=1:
#             rev_change.append(int(revenue[i]) - int(revenue[i-1]))

In [16]:
# Cleaning the per cumulative data file
yearly_cumulative_df = yearly_cumulative_data.loc[:,["Entity","Code","Year","Cumulative CO2 emissions by nation (tonnes)"]]
yearly_cumulative_df.head()

        Entity Code  Year  Cumulative CO2 emissions by nation (tonnes)
0  Afghanistan  AFG  1751                                          NaN
1  Afghanistan  AFG  1752                                          NaN
2  Afghanistan  AFG  1753                                          NaN
3  Afghanistan  AFG  1754                                          NaN
4  Afghanistan  AFG  1755                                          NaN

In [17]:
per_capita_df.describe()

               Year  Per capita CO2 emissions (tonnes)
count  42844.000000                                0.0
mean    1908.625712                                NaN
std       62.931926                                NaN
min     1751.000000                                NaN
25%     1854.000000                                NaN
50%     1909.000000                                NaN
75%     1963.000000                                NaN
max     2017.000000                                NaN

In [19]:
yearly_cumulative_df.describe()

               Year  Cumulative CO2 emissions by nation (tonnes)
count  61677.000000                                          0.0
mean    1884.000000                                          NaN
std       77.076345                                          NaN
min     1751.000000                                          NaN
25%     1817.000000                                          NaN
50%     1884.000000                                          NaN
75%     1951.000000                                          NaN
max     2017.000000                                          NaN

In [21]:
per_capita_df.dtypes

Entity                                object
Code                                  object
Year                                   int64
Per capita CO2 emissions (tonnes)    float64
dtype: object